header, footer {
    display: none;
}
section {
    width: 100%;
    height: 100%;
    position: relative;
    &#intro-section {
        background: $primary-color;
    }
    &#next-section {
        background: $primary-color-dark;
    }
}
.scroll-down-arrow {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    height: 3rem;
    width: 3rem;
    margin: auto;
    border: 4px solid $white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:$white;
    &:hover {
        color: $accent-color;
        background: $white;
    }
}
.scroll-down-arrow::before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24pt;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
    content: "arrow_downward";
}
#next-section {
.scroll-down-arrow::before {
    transform: rotate(180deg);
    }
}