@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16pt;
  font-style: normal;
  font-family: "Mont", sans-serif;
  color: #212121;
  padding: 0;
  margin: 0;
  background: #CFD8DC;
}

::-moz-selection {
  background: #d71920;
  color: #FFFFFF;
}

::selection {
  background: #d71920;
  color: #FFFFFF;
}

a {
  color: #d71920;
}

a:hover {
  color: #455A64;
}

a[target="_self"] {
  color: #607D8B;
}

a[target="_blank"] {
  color: #d71920;
}

a[href^="http://"] {
  color: #455A64;
}

a[title~="link"] {
  color: #000000;
}

p {
  line-height: 1.75;
  margin-bottom: 1rem;
}

ul {
  margin: 0 0 0 2rem;
  padding: 0;
}

ul.list-styled {
  list-style: none;
}

ul.list-styled li {
  text-indent: -27px;
  list-style: none;
}

ul.list-styled li:before {
  background: url(../assets/list-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-right: .5rem;
  width: 18px;
  height: 18px;
  display: inline-block;
  content: '';
}

img {
  max-width: 100%;
}

figure {
  padding: 0;
}

figure figcaption {
  background: #d71920;
  color: #FFFFFF;
  margin: -.25rem 0 0;
  padding: .45rem 1.5rem;
  font-size: 12pt;
}

audio, video {
  max-width: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

hr {
  padding-top: 1rem;
  margin-bottom: 1.5rem;
  border-top: 2px solid #BDBDBD;
  border-top: none;
  border-left: none;
  border-right: none;
}

header {
  background: rgba(215, 25, 32, 0.98);
  min-height: 4rem;
  width: 80%;
  margin: auto;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}

header .header .logo {
  height: 4rem;
  width: 4rem;
}

header .header .logo a img {
  max-height: 4rem;
  max-width: 4rem;
}

header .header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0rem;
  margin: 0rem;
  list-style: none;
}

header .header nav ul li {
  list-style: none;
  margin: 0rem;
}

header .header nav ul li a {
  padding: .75rem 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 12pt;
}

header .header nav ul li a:hover {
  color: #CFD8DC;
  text-decoration: none;
}

main {
  width: 80%;
  height: 100vh;
  background: #FFFFFF;
  color: #455A64;
  display: block;
  margin: 0 auto;
}

main h1 {
  color: #FFFFFF;
}

main section {
  padding: 3rem;
  margin: auto;
}

footer {
  background: #455A64;
  width: 80%;
  margin: auto;
  min-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 3rem;
  margin: auto;
}

footer .footer-links nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-links nav ul li {
  margin: 1rem;
}

footer .footer-links nav ul li a {
  color: #BDBDBD;
  font-size: .85rem;
  text-decoration: none;
}

footer .footer-links nav.links {
  margin-right: auto;
}

footer .copy {
  font-size: .85rem;
  color: #BDBDBD;
  padding: 1rem;
  margin-left: auto;
}

nav.social {
  margin-left: auto;
}

nav.social ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  border-radius: 50%;
}

nav.social ul li a img {
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  z-index: 3;
  background: #FFFFFF;
  padding: 2px;
  border-radius: 50%;
}
/*# sourceMappingURL=app.css.map */