@import "variables";
@import "carousel";
@import "animate";


*, html {
        margin: 0;
        padding: 0;        
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
body { 
    font-family: $font-base;
    font-size: 16pt;
    font-style: normal;
    font-weight: normal;
    width: $fullwidth;
    font-family: $font-base;
    color: $primary-text-color;
    background: $primary-color-text;
    padding: 0;
    margin:0;
}
::selection {
    background: $accent-color;
    color: $primary-color-text;
}
a {
    color: $accent-color;
    &:hover {
            color: $primary-color-dark;
    } 
}
header {
    background: rgba(215,25,32,.98);
    min-height: 4rem;
    width: $fullwidth;
    margin: auto;
    .header {
        display: flex;
        align-items: center;
        max-width: $fullwidth;
        padding: 0 3rem;
        margin: 0 auto;
        .logo {
            height: 4rem;
            width: 4rem;
            a {
                img {
                    max-height: 4rem;
                    max-width: 4rem;
                }
            }
        }
        
    }
}
footer {
    background: $primary-color-dark;
    color: $primary-color-text;
    width: $fullwidth;
    margin: auto;
    min-height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
main {
    width: $fullwidth;
    min-height: calc( 100vh - 128px );
    background: $primary-color-text;
    color: $primary-color-dark;
    display: block;
    margin: 0 auto;
    section {
        max-width: $alignwide;
        margin: 3rem auto;
        h1 {
            flex-basis: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: normal;
            margin: 1rem auto 2rem;
            text-align: center;
        }
        .gallery-item {
            figure {
                display: flex;
                flex-direction: column;
                margin: 1rem 1rem 3rem;
                box-shadow: 0px 0px 20px rgba(0,0,0,0.250);
                border-radius: .5rem;
                img {
                    width: $fullwidth;
                    background: $primary-color;
                    margin: 0px;
                    padding: 0px;
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;
                }
                figcaption {
                    position: relative;
                    font-family: $font-base;
                    color: $primary-text-color;
                    background: $grey-200;
                    margin: 0px;
                    padding: 1rem .25rem;
                    border-bottom-left-radius: .5rem;
                    border-bottom-right-radius: .5rem;
                    font-style: 14pt;
                    text-align: center;
                    z-index: 101;
                    &::after {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: $primary-color;
                        color: $primary-color-text;
                        -webkit-transform: scaleY(0);
                        transform: scaleY(0);
                        -webkit-transform-origin: 100% 0;
                        transform-origin: 100% 0;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
                        border-bottom-left-radius: .5rem;
                        border-bottom-right-radius: .5rem;
                    }
                }
            }
            &:hover {
                figure {
                    img {
                        -webkit-transform: scale(1);
                        transform: scale(1);
                    }
                    figcaption {
                        color:$primary-color-text;
                        &::after {
                            -webkit-transform: scaleY(1);
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }
        p {
            display: none;
        }
    }
}
@import "responsive";