@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mont';
  src: url("../fonts/Mont-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

*, html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Mont", sans-serif;
  font-size: 16pt;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  font-family: "Mont", sans-serif;
  color: #212121;
  background: #FFFFFF;
  padding: 0;
  margin: 0;
}

::-moz-selection {
  background: #d71920;
  color: #FFFFFF;
}

::selection {
  background: #d71920;
  color: #FFFFFF;
}

a {
  color: #d71920;
}

a:hover {
  color: #455A64;
}

header {
  background: rgba(215, 25, 32, 0.98);
  min-height: 4rem;
  width: 100%;
  margin: auto;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 0 3rem;
  margin: 0 auto;
}

header .header .logo {
  height: 4rem;
  width: 4rem;
}

header .header .logo a img {
  max-height: 4rem;
  max-width: 4rem;
}

footer {
  background: #455A64;
  color: #FFFFFF;
  width: 100%;
  margin: auto;
  min-height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  width: 100%;
  min-height: calc( 100vh - 128px);
  background: #FFFFFF;
  color: #455A64;
  display: block;
  margin: 0 auto;
}

main section {
  max-width: 80%;
  margin: 3rem auto;
}

main section h1 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
  margin: 1rem auto 2rem;
  text-align: center;
}

main section .gallery-item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 1rem 3rem;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: .5rem;
}

main section .gallery-item figure img {
  width: 100%;
  background: #607D8B;
  margin: 0px;
  padding: 0px;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
}

main section .gallery-item figure figcaption {
  position: relative;
  font-family: "Mont", sans-serif;
  color: #212121;
  background: #EEEEEE;
  margin: 0px;
  padding: 1rem .25rem;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
  font-style: 14pt;
  text-align: center;
  z-index: 101;
}

main section .gallery-item figure figcaption::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #607D8B;
  color: #FFFFFF;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-bottom-left-radius: .5rem;
  border-bottom-right-radius: .5rem;
}

main section .gallery-item:hover figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

main section .gallery-item:hover figure figcaption {
  color: #FFFFFF;
}

main section .gallery-item:hover figure figcaption::after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

main section p {
  display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  main section {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main section h1 {
    text-align: left;
  }
  main section .gallery-item {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  main section .gallery-item figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section .gallery-item figure figcaption {
    font-family: "Mont", sans-serif;
    color: #212121;
    background: #EEEEEE;
    margin: 0px;
    padding: 1rem .25rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    font-style: 14pt;
    text-align: center;
  }
  main section p {
    display: block;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
  main section {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main section h1 {
    text-align: left;
  }
  main section .gallery-item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  main section .gallery-item figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 1rem 3rem;
  }
  main section p {
    display: block;
  }
}

@media only screen and (min-width: 1920px) {
  main section {
    max-width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  main section h1 {
    text-align: left;
  }
  main section .gallery-item {
    -ms-flex-preferred-size: 16.66%;
        flex-basis: 16.66%;
  }
  main section .gallery-item figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1rem 1rem 3rem;
  }
  main section p {
    display: block;
  }
}
/*# sourceMappingURL=app.css.map */